name: Continuous integration
on:
  push:
    tags:
    - v*
    branches:
    - main
    - release-*
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v3
      with:
        go-version: '^1'
    - uses: ./
      with:
        go_mod: false
